* {
  margin: 0;
  padding: 0;
}
body {
  overflow: hidden;
  background-image: #d5d5d5;
}
.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper {
  border: 4px solid rgb(102, 207, 248);
  border-radius: 24px;
  min-height: 500px;
  width: 300px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  position: relative;
}
svg {
  width: 32px;
  height: 32px;
  flex-shrink: 0;
}
button {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.local {
  position: absolute;
  right: 15px;
  top: -45px;
  cursor: pointer;
}

.clear {
  position: absolute;
  right: 55px;
  top: -44px;
  cursor: pointer;
}

button {
  cursor: pointer;
}

.red {
  background-color: red;
}
.green {
  background-color: green;
}
.black {
  background-color: black;
}
.blue {
  background-color: blue;
}
.purple {
  background-color: purple;
}
.yellow {
  background-color: yellow;
}
.gray {
  background-color: gray;
}